@page
<div class="row">
    <div class="col-12">
        <h2>Live Weather Update</h2>
    </div>
    <div class="col-12">
        <ul id="messagesList"></ul>
    </div>
</div>
<script src="~/lib/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Update.js"></script>